<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clientes</title>
</head>

<body>
    <form action="/clientes" method="post">
        <div>
            <label>Nome</label>
            <input name="nome" type="text" value="<%= cliente.nome %>">
        </div>

        <div>
            <label>Sobrenome</label>
            <input name="sobrenome" type="text" value="<%= cliente.sobrenome %>">
        </div>

        <div>
            <label>Rg</label>
            <input name="rg" type="text" value="<%= cliente.rg %>">
        </div>

        <div>
            <label>Cpf</label>
            <input name="cpf" type="text" value="<%= cliente.cpf %>">
        </div>

        <div>
            <label>cep</label>
            <input name="cep" type="text" value="<%= cliente.cep %>">
        </div>

        <input type="submit" value="cadastrar">

    </form>
</body>

</html>