<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Clientes</title>
</head>

<body>
    <h2>Clientes</h2>

    <table>
        <tr>
            <td>ID</td>
            <td>NOME</td>
            <td>SOBRENOME
            </td>
            <td>CPF</td>
            <td>CEP</td>
        </tr>
        <% 
        for(let p of clientes){
        %>
            <tr>
                <td>
                    <%= p.id %>
                </td>
                <td>
                    <%= p.nome %>
                </td>
                <td>
                    <%= p.sobrenome %>
                </td>
                <td>
                    <%= p.rg %>
                </td>
                <td>
                    <%= p.cpf %>
                </td>
                <td>
                    <%= p.cep %>
                </td>
            </tr>
            <% }  %>
    </table>

</html>